@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }

  :root {
    --radius: 0.5rem;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply relative border-border;
  }

  html {
    @apply scroll-smooth;
    color-scheme: dark;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    @apply bg-background font-geist text-foreground;
  }

  @font-face {
    font-family: 'geist';
    src: url('/src/assets/fonts/geist.woff2') format('woff2');
  }

  .blur {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;

    position: sticky;
    width: 100vw;
    height: 96px;
    z-index: 50;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0.95;
    -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent);
    mask-image: linear-gradient(to bottom, black 25%, transparent);
    top: 0;
    margin-bottom: calc(-1 * 96px);
  }

  .blur:after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, var(--background), transparent);
  }

  .gridLine {
    @apply h-[1px] w-full;

    --background: transparent;
    --color: hsl(240 5% 64.9%/0.5);
    --height: 1px;
    --width: 5px;
    --fade-stop: 90%;
    /* Bleed in or out from the container */
    background: linear-gradient(to right, var(--color), var(--color) 50%, transparent 0, transparent);
    background-size: var(--width) var(--height);

    /* Fade out the edges */
    mask-composite: exclude;
    mask: linear-gradient(to left, var(--background) var(--fade-stop), transparent),
      linear-gradient(to right, var(--background) var(--fade-stop), transparent), linear-gradient(black, black);
    -webkit-mask: linear-gradient(to left, var(--background) var(--fade-stop), transparent),
      linear-gradient(to right, var(--background) var(--fade-stop), transparent), linear-gradient(black, black);
  }

  .light {
    width: 1px;
    height: 1px;
    border-radius: 9999px;
    position: relative;
    transition: transform var(--transition-duration) ease;

    &:after,
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      transition: opacity var(--transition-duration) ease;
    }

    &:before {
      /* Medium */
      background: #3291ff;
      box-shadow: 0px 0px 2px 1px rgba(50, 145, 255, 0.25);
    }

    &:after {
      /* High */
      background: #ffffff;
      box-shadow:
        0px 0px 1px 1px rgba(50, 145, 255, 0.8),
        0px 0px 2px 1px rgba(50, 145, 255, 0.25);
    }

    &[data-state='off'] {
      background: #707070;
    }

    &[data-state='medium']:before {
      opacity: 1;
    }

    &[data-state='high']:after {
      opacity: 1;
    }
  }
}
